@import "elements.less";

#container { display: table; width: 100%; border-spacing: 1em; }

.holder { .Card; display: table-cell; width: 100%; min-width: 260px;
	.holder-tab { .Card(0); display: inline-block; position: absolute; left: @CardPadding; top: -(@CardMargin * 2.4); border-bottom: 0; }
	
	.holder-inner {  }
}

.holder.login, 
.holder.signup, 
.holder.info { width: 260px; 
	.field {
		label { display: block; }
	}
}

.info-block {
	.info-subtitle { margin-top: 1em; font-size: 1.4em; }
	.info-block { margin-bottom: 1em; padding-left: 0.2em; border-left: 1px solid #ccc;
		.info-subtitle { font-size: 95%; }
	}
}


.card { .Card; }