<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  th:include="pagelet/layout::page">
	<head>
		<title></title>
	</head>
	<body>
		<div th:fragment="object-form-input(field, id)" th:remove="tag">
			<input type="text" th:id="${id}" th:min="${field.minLength}" th:name="${field.prefix} + ${field.name}" th:maxlength="${field.maxLength}" 
				   th:type="${field.type}" th:required="${field.required}" th:hidden="${field.hidden}" />
		</div>
		<div th:fragment="object-form(classInfo, title)" class="fieldset">
			<div class="thead">
				<div th:text="${title}" class="subtitle"></div>
			</div>
			<div class="tbody">
			<!--/*/ <th:block th:each="field, iterStat : ${classInfo.fields}"> /*/-->
				<!--/*/ <th:block th:if="${field.hidden}"> /*/-->
				<div th:replace="::object-form-input(${field}, null)"></div>
				<!--/*/ </th:block> /*/-->
				<!--/*/ <th:block th:unless="${field.hidden}"> /*/-->
				<div th:unless="${field.child}" class="row">
					<field th:for="'input-' + ${title} + '-' + ${iterStat.count}" th:text="${field.name}"></field>
					<div th:include="::object-form-input(${field}, 'input-' + ${title} + '-' + ${iterStat.count})" class="input-group"></div>
				</div>
				<div th:if="${field.child}" class="row">
					<div th:replace="::object-form(${field.child}, ${field.name})"></div>
				</div>
				<!--/*/ </th:block> /*/-->
			<!--/*/ </th:block> /*/-->
			</div>
		</div>
		
		<div th:fragment="content">
			<form method="POST" action="#" th:action="@{/register}">
				<div class="fieldset">
					<div th:include="::object-form(${user.classInfo}, 'Uusi tunnus')"></div>
					<button type="submit">Luo tunnus</button>
				</div>
			</form>
		</div>
	</body>
</html>
